body {
  font-family: Garamond
  color: #dddddd
  margin: 10% 20%;}

h4 {
  color: green;
}

h3 {
  color: green;
}

#meandmyboys {
  float: right;
  margin: 0 0 0 15px;
}

.summary{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.skills{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.education{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
