body {
  font-family: Garamond
  color: #dddddd
  margin: 10% 20%;}

h4 {
  color: green;
}

h3 {
  color: green;
}

h2 {
  color: green;
}

#meandmyboys {
  float: right;
  margin: 0 0 0 15px;
}

.row:after {
  display:table;
  clear: both;
}

.column {
  float:left;
  width: 50%;
}

.bullets {
  float:right;
  width: 50%;
}



.education {
        padding: 50px;
        margin: 50px;
        position: relative;
        border: 5px solid black;
        background: #7dc765
}
  
  
.experience {
        padding: 50px;
        margin: 50px;
        position: relative;
        border: 2px solid black;
}

        
© 2021 GitHub, Inc.
